<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Microsoft.WindowsAzure.Storage.Test">
	<uses-sdk />
	<application android:label="Microsoft.WindowsAzure.Storage.Test"></application>
</manifest>